<header class="mypath">
  <table class="mypath1">
  <tr>
  <td><b>{{content.field_fname}}</b></td>
  <td><b>{{content.field_lname}}</b></td>
  <td><b>{{content.field_student_uid}}</b></td>
  </tr>
  </table>
  <table class="mypath2">
  <tr style="border-bottom: 1px solid black">
  <td>{{content.field_python}}</td>
  <td>{{content.field_dot_net}}</td>
  <td>{{content.field_web_design}}</td>
  <td>{{content.field_oracle}}</td>
  <td>{{content.field_jaava}}</td>
  <td>{{content.field_total_marks}}</td>
  </tr>
  <br>
  <tr>
  <td colspan="6" align="center">{{content.field_result_status}}</td>
  </tr>
  </table>
</header>
