	<div class="align">
	  <div class="container">
	    <div class="col-lg-12">{{page.header}}</div>
	  </div>
	</div>


<header class="bgimg">
	<div class="logo">
    <div class="container">
      <div class="col-lg-12">{{page.logo}}</div>
    </div>


    <div class="navigation">
      <div class="container">
        <div class="col-lg-12">{{page.navigation}}</div>
      </div>
    </div>
	</div>


	<div bgcolor="black">{{ page.highlighted }}</div>


  <header class="maincontent">
    <div class="container">
	    <div class="col-lg-12">{{page.content}}</div>
	  </div>
  </header>
<br>
<br>
  <footer class="footer">
	<header>
	  <div class="container">
	    <div class="col-lg-4"><br>{{page.left_footersidebar}}</div>
		  <div class="col-lg-4"><br>{{page.middle_footersidebar}}</div>
		  <div class="col-lg-4"><br>{{page.right_footersidebar}}</div>
		</div>
	</header>
	<br>

	  <div class="container">
	    <div class="col-lg-12">{{page.footer}}</div>
	  </div>
  </footer>
</header>
