<header>
  <table class="tble1">
    <tr>
	    <td colspan="2" align="center"><h6><u> {{ fields.title.content}} </u></h6></td>
	  </tr>
	<tr>
	  <td rowspan="3" class="Tble"> {{ fields.field_front_poster.content}} </td>
	  <td>Description: {{ fields.field_description.content }} </td>
	</tr>
	<tr>
	  <td><span> Price: {{ fields.field_price.content }} </span></td>
	</tr>
	<tr>
	  <td><span> Status: {{ fields.field_availability.content }} </span></td>
	</tr>
  </table>
</header>
